/*** BACKGROUND & NAV ***/

#backdrop-container {
  position: fixed;
  display: block;
  background-color: $dark-shadow-color;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

#backdrop-left {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: $muted-color;
  width: 320px;
  height: 100vh;
  z-index: 3;
  transform: skewX(-12deg) translate(-200px, 0);
}

#backdrop-center {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: $muted-shadow-color;
  width: 240px;
  height: 100vh;
  z-index: 2;
  transform: skewX(-20deg);
}

#backdrop-right {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: $accent-color;
  width: 360px;
  height: 100vh;
  z-index: 1;
  transform: skewX(-10deg);
}

#name-box {
  position: fixed;
  top: 20px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: $contrast-color;
  font-weight: 200;
  font-family: $title-font;
  text-transform: uppercase;
	font-size: 2rem;
  height: 50px;
  padding: 0px 18px 0px 14px;
  cursor: pointer;
  z-index: 15;
  transition: $short-transition;
  &:hover {
    transform: scale(1.1) translateX(14px)
  }
}

#nav-box {
  position: fixed;
  top: 120px;
  left: -220px;
  display: flex;
  flex-direction: row;
  color: $primary-color;
  font-family: $title-font;
  text-transform: uppercase;
  width: 260px;
  // max-height: 40px;
  overflow: hidden;
  z-index: 15;
  transition: transform $short-transition, max-height $short-transition;
  // &:hover {
  //   transform: translate(200px, 18px) scale(1.15);
  //   max-height: 600px;
  // }
}

#nav-bkg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  overflow: auto;
  transition: opacity $shorter-transition;
}

#navbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: $contrast-color;
  font-size: 1.1rem;
  width: 220px;
  margin: 0;
  padding: 20px 20px 10px 17px;
}

#nav-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $contrast-color;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  margin: 0;
  // transform: translate(-40px, 0);
  cursor: pointer;
}

#nav-arrow-icon {
  transform: rotate(0deg);
  transition: transform $short-transition;
}


.current-page {
  color: $dark-accent-color;
  font-weight: 600;
  cursor: default;
  transform: translateX(8px) scale(1.1);
}

.highlighted {
  font-weight: 400;
  transition: $short-transition;
  &:hover {
    cursor: pointer;
    transform: translateX(8px) scale(1.1);
  }
}

.highlight {
  flex: 1;
  background-image: linear-gradient(to right, $medium-accent-color 0, $extra-light-accent-color  100%);
  background-position: 0 -0.1em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  color: $primary-color;
  font-weight: 400;
  line-height: 1;
  transition: background $short-transition;
  &:hover {
    background-size: 100% 100%;
    color: $primary-color;
  }
  &:visited, &:active {
    color: $primary-color;
  }
}