.ed-title {
  margin-left: 15px;
}

// FOR UDEMY COURSES

.course-category {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
}

.course-title {
  font-weight: 500;
}

.course-instructor {
  font-size: 0.85rem;
  font-weight: 300;
  text-transform: uppercase;
}
