@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;600&family=Quicksand:wght@300;400;600&display=swap");

$primary-color: #333;
$contrast-color: #fff;
$muted-color: #888;
$dark-accent-color: #222;
$muted-accent-color: #555;
$accent-color: #bbb;
$bright-accent-color: #ccc;
$light-accent-color: #eee;
$highlight-color: white;
$extra-light-green-color: #b5d89d;
$light-green-color: #85c05d;
$medium-green-color: #61a136;
$dark-green-color: #437e1c;
$primary-font: "Quicksand", sans-serif;
$header-font: "Lexend Deca", sans-serif;
$title-font: "Lexend Deca", sans-serif;
$navbar-height: 80px;
$triangle: 120px;
$logo-font: "Lexend Deca", sans-serif;
$logo-transition: 1.8s;

// TODO: see if any scss variables are no longer in use
// TODO: make green variable names not color-specific
// TODO: go through css and make order of properties consistent

/*
  Z-INDEX HEIRARCHY
  40    
  30    
  20    modal
  15    
  10    main (index: text-container)
  5     header, footer, navbar, name box (index: hover-anchor)
  1-3   backdrop
  0     body
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	color: $primary-color;
	font-family: $primary-font;
	font-size: 11pt;
	font-weight: 400;
	background-color: $highlight-color;
	min-height: 100vh;
	overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#page-content {
  padding-bottom: 40px; // height of footer
  z-index: 5;
}

main {
  position: relative;
  top: 0px;
  right: 0px;
	display: flex;
	flex-direction: column;
	width: calc(100vw - 300px);
  min-width: 600px;
  max-width: 1000px;
	padding: 120px 50px 40px 0px;
  margin: 0px 0px 0px auto;
	visibility: hidden; // until content loaded
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: auto;
	display: flex;
	flex-direction: column;
  align-items: flex-end;
  color: $light-accent-color;
  height: 50px;
	width: 100vw;
	padding-right: 40px;
  z-index: 5;
}

p {
	font-size: 0.95rem;
	margin: 0px 15px 10px 0px;
}

a {
	color: $medium-green-color;
  font-weight: 600;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: $light-green-color;
  }
  &:visited {
    color: $dark-green-color;
  }
}

ul {
	margin-left: 35px;
}

td {
	padding: 5px 5px 5px 0px;
	vertical-align: top;
}

/*** TITLES, NAV, & BACKGROUND ***/

#backdrop-container {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: $dark-accent-color;
  z-index: 0;
}

#backdrop-left {
  background-color: $muted-color;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 320px;
  height: 100vh;
  transform: skewX(-12deg) translate(-200px, 0);
}

#backdrop-center {
  background-color: $muted-accent-color;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 240px;
  height: 100vh;
  transform: skewX(-20deg);
}

#backdrop-right {
  background-color: $accent-color;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 360px;
  height: 100vh;
  transform: skewX(-10deg);
}

#name-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  top: 20px;
  left: 0px;
  font-weight: 200;
  padding: 0px 18px;
  background-color: $primary-color;
  color: $contrast-color;
  font-family: $title-font;
  text-transform: uppercase;
	font-size: 2rem;
  transition: 0.6s;
  &:hover {
    transform: scale(1.1) translateX(14px)
  }
}

#nav-box {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 260px;
  max-height: 40px;
  top: 120px;
  left: -180px;
  color: $primary-color;
  font-family: $title-font;
  text-transform: uppercase;
  transition: transform 0.6s, max-height 0.6s;
  overflow: hidden;
  &:hover {
    transform: translate(200px, 18px) scale(1.15);
    max-height: 250px;
  }
}

#new-navbar {
  width: 220px;
  background-color: $contrast-color;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 20px 10px;
  font-size: 1.1rem;
  margin: 0;
}

#nav-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $contrast-color;
  font-size: 1.5rem;
  margin: 0;
  transform: translate(-40px, 0);
}

#nav-arrow-icon {
  transition: 0.6s
}
#nav-box:hover #nav-arrow-icon {
  transform: rotate(180deg);
}

.highlighted {
  font-weight: 400;
  transition: 0.8s;
  &:hover {
    cursor: pointer;
    transform: translateX(8px) scale(1.1);
  }
}

// TODO: make sure current page is indicated in nav box

.highlight {
  color: $primary-color;
  font-weight: 400;
  flex: 1;
  line-height: 1;
  background-image: linear-gradient(to right, $medium-green-color 0, $extra-light-green-color  100%);
  background-position: 0 -0.1em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.6s;
  &:hover {
    background-size: 100% 100%;
    color: $primary-color;
  }
  &:visited, &:active {
    color: $primary-color;
  }
}

#page-title-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $highlight-color;
  background-color: $dark-green-color;
  font-family: $title-font;
  font-weight: 400;
  text-transform: uppercase;
	font-size: 2rem;
  height: 50px;
  top: 20px;
  right: 0px;
  padding: 0px 18px;
  z-index: 5;
}