$primary-color: #333;
$contrast-color: #fff;
$muted-color: #888;
$dark-accent-color: #222;
$muted-accent-color: #555;
$accent-color: #bbb;
$bright-accent-color: #ccc;
$light-accent-color: #eee;
$highlight-color: white;
$extra-light-green-color: #b5d89d;
$light-green-color: #85c05d;
$medium-green-color: #61a136;
$dark-green-color: #437e1c;
$primary-font: "Quicksand", sans-serif;
$header-font: "Lexend Deca", sans-serif;
$title-font: "Lexend Deca", sans-serif;
$logo-font: "Lexend Deca", sans-serif;
$navbar-height: 80px;
$triangle: 120px;
$logo-transition: 1.8s;