* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}

.preload {
  transition: none !important;
}

#hidden-image {
  position: absolute;
  top: 0px;
  left: -100%;
  width: 400px;
  z-index: -10;
}

#content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#hover-anchor {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  margin-right: 0px;
  border-radius: 50%;
  z-index: 10;
  transition: 1.8s;
}
#hover-anchor:hover {
  margin-right: 300px;
  cursor: pointer;
}

.text-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  padding-left: 22px;
  overflow: hidden;
  z-index: 15;
  transition: transform 1.8s, width 1.8s;
}

#hover-anchor:hover .text-container {
  transform: translate(160px, 0);
  width: 440px;
}

.text {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
}

#fn,
#ln {
  color: #333333;
  opacity: 0;
  transition: opacity 1.8s;
}

#hover-anchor:hover #fn,
#hover-anchor:hover #ln {
  opacity: 1;
}

#cee {
  font-weight: 100;
  transition: 1.8s;
}

#hover-anchor:hover #cee {
  color: #333;
  transform: translate(110px, -30px);
}

#jay {
  font-weight: 600;
  padding-left: 40px;
  transition: 1.8s;
}

#hover-anchor:hover #jay {
  color: #333;
  transform: translate(70px, 30px);
}

#circle-mask {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  will-change: transform;
}

.square {
  position: absolute;
  width: 300px;
  height: 300px;
}

#shape1 {
  background-color: #333;
  transition: 1.8s;
}

#hover-anchor:hover #shape1 {
  transform: translate(55px, 0) rotate(-80deg);
}

#shape2 {
  background-color: #bbb;
  transition: 1.8s;
}

#hover-anchor:hover #shape2 {
  transform: translate(30px, 0) rotate(-70deg);
}

#shape3 {
  background-color: #555;
  transition: 1.8s;
}

#hover-anchor:hover #shape3 {
  transform: translate(15px, 0) rotate(-80deg);
}

#shape4 {
  background-color: #888;
  transition: 1.8s;
}

#hover-anchor:hover #shape4 {
  transform: translate(40px, -20) rotate(-62deg);
}

#divider {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  max-width: 80vw;
}

#single-line {
  background: linear-gradient(to right, #fff, #333, #fff);
  width: 800px;
  max-width: 80vw;
  height: 4px;
  border-radius: 2px;
  margin: 10px 0;
}

#cj-logo,
#cwc-logo-container {
  width: 410px;
}

#cwc-logo {
  width: 100%;
  filter: grayscale(1) contrast(2.5);
  transition: filter 1.8s;
}
#cwc-logo:hover {
  filter: grayscale(0) contrast(1);
}

@media screen and (max-width: 480px) {
  #cj-logo,
  #cwc-logo-container {
    width: 300px;
  }
}/*# sourceMappingURL=landing.css.map */