@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap"); /*** BACKGROUND & NAV ***/
#backdrop-container {
  position: fixed;
  display: block;
  background-color: #222;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

#backdrop-left {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: #888;
  width: 320px;
  height: 100vh;
  z-index: 3;
  transform: skewX(-12deg) translate(-200px, 0);
}

#backdrop-center {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: #555;
  width: 240px;
  height: 100vh;
  z-index: 2;
  transform: skewX(-20deg);
}

#backdrop-right {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background-color: #bbb;
  width: 360px;
  height: 100vh;
  z-index: 1;
  transform: skewX(-10deg);
}

#name-box {
  position: fixed;
  top: 20px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  font-weight: 200;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  height: 50px;
  padding: 0px 18px 0px 14px;
  cursor: pointer;
  z-index: 15;
  transition: 0.6s;
}
#name-box:hover {
  transform: scale(1.1) translateX(14px);
}

#nav-box {
  position: fixed;
  top: 120px;
  left: -180px;
  display: flex;
  flex-direction: row;
  color: #333;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  width: 260px;
  max-height: 40px;
  overflow: hidden;
  z-index: 15;
  transition: transform 0.6s, max-height 0.6s;
}
#nav-box:hover {
  transform: translate(200px, 18px) scale(1.15);
  max-height: 250px;
}

#nav-bkg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  overflow: auto;
  transition: opacity 0.4s;
}

#navbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  font-size: 1.1rem;
  width: 220px;
  margin: 0;
  padding: 20px 20px 10px 17px;
}

#nav-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  margin: 0;
  transform: translate(-40px, 0);
}

#nav-arrow-icon {
  transition: 0.6s;
}

#nav-box:hover #nav-arrow-icon {
  transform: rotate(180deg);
}

.current-page {
  color: #437e1c;
  font-weight: 600;
  cursor: default;
  transform: translateX(8px) scale(1.1);
}

.highlighted {
  font-weight: 400;
  transition: 0.6s;
}
.highlighted:hover {
  cursor: pointer;
  transform: translateX(8px) scale(1.1);
}

.highlight {
  flex: 1;
  background-image: linear-gradient(to right, #61a136 0, #b5d89d 100%);
  background-position: 0 -0.1em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  color: #333;
  font-weight: 400;
  line-height: 1;
  transition: background 0.6s;
}
.highlight:hover {
  background-size: 100% 100%;
  color: #333;
}
.highlight:visited, .highlight:active {
  color: #333;
}

.course-category {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
}

.course-title {
  font-weight: 500;
}

.course-instructor {
  font-size: 0.85rem;
  font-weight: 300;
  text-transform: uppercase;
}

/** HOME PAGE **/
.home-content {
  border-left: 8px solid #437e1c;
}

.history-pic {
  float: right;
  max-width: 350px;
  margin: 0px 0px 10px 15px;
  border: 5px solid #222;
}

td.year {
  font-size: 1.1em;
  font-weight: 600;
  width: 50px;
}

.gradient-text {
  background-image: linear-gradient(rgb(51, 51, 51), rgba(51, 51, 51, 0));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.timeline-button-container {
  display: flex;
  justify-content: center;
}

#timeline-button {
  background-color: #bbb;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  width: auto;
  margin: -90px 0px 90px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .history-pic {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .history-pic {
    float: none;
    width: 100%;
    margin: 0px 0px 15px 0px;
  }
}
@media screen and (max-width: 600px) {
  .history-pic {
    max-width: 100%;
  }
}
/** PROJECT GALLERY PAGE **/
.view-details {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.gallery-container {
  -moz-columns: 3;
       columns: 3;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.gallery-item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 15px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  transition: filter 0.2s ease-in-out;
}
.gallery-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.project-content {
  background-color: white;
  padding: 15px;
}

.project-image {
  width: 100%;
  border: 1px solid #888;
}

.project-name {
  color: #437e1c;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 8px;
}

.project-tagline {
  font-size: 0.9rem;
  margin-top: -3px;
}

/** PROJECT DETAILS PAGE **/
.project-section {
  margin: 20px 0px 5px;
}

.project-title {
  color: #437e1c;
  font-size: 1.4rem;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 5px;
}

.project-subtitle {
  margin-bottom: 15px;
}

.project-links {
  font-size: 1.3em;
  margin: 20px 0px 0px;
}

.project-details-image {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #222;
  cursor: pointer;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  transition: filter 0.2s ease-in-out;
}
.project-details-image:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.6));
}

.project-details-row,
.project-details-row > .project-details-col {
  padding: 10px;
}

.project-details-col {
  float: left;
  width: 50%;
}

.project-details-bkg {
  background-color: #fff;
  padding: 15px 20px 18px;
}

.project-switch-page-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to bottom, #193a03 0, #376618 3%, #437e1c 18%, #437e1c 100%);
  color: #fff;
  height: 40px;
  width: 100%;
  padding: 0px 5px;
}
.project-switch-page-bar:hover {
  background-image: linear-gradient(to bottom, #143003 0, #193a03 3%, #376618 10%, #437e1c 30%, #437e1c 100%);
}

.project-link-align-right {
  justify-content: flex-end;
}

.project-switch-page-link {
  color: #fff !important;
}

.project-switch-page-arrow {
  color: #fff;
  font-size: 1.2em;
  margin: 0px 5px;
  transform: translateY(2px);
}

.modal {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  background-color: rgba(1, 1, 1, 0.8);
  width: 100%;
  height: 100%;
  padding-top: 100px;
  z-index: 20;
  overflow: auto;
}

.modal-content {
  display: block;
  max-width: 95vw;
  max-height: 80vh;
  margin: auto;
  animation: zoom 0.6s;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.2s;
}
.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .gallery-container {
    -moz-columns: 2;
         columns: 2;
  }
  .project-details-col {
    width: 100%;
  }
  .project-detail-image {
    width: 100%;
    margin: 15px 0px 0px;
  }
}
@media screen and (max-width: 800px) {
  .gallery-container {
    -moz-columns: 1;
         columns: 1;
  }
}
@media screen and (max-width: 600px) {
  .modal-content {
    width: 100%;
  }
}
.project-switch-page-bar:hover .bounce-right {
  animation: bounce-right 1.2s;
}

.project-switch-page-bar:hover .bounce-left {
  animation: bounce-left 1.2s;
}

@keyframes bounce-right {
  0% {
    transform: translateX(0px);
  }
  18% {
    transform: translateX(20px);
  }
  36% {
    transform: translateX(0px);
  }
  52% {
    transform: translateX(8px);
  }
  64% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(4px);
  }
  76% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(2px);
  }
  84% {
    transform: translateX(0px);
  }
  86% {
    transform: translateX(1px);
  }
  88% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes bounce-left {
  0% {
    transform: translateX(0px);
  }
  18% {
    transform: translateX(-20px);
  }
  36% {
    transform: translateX(0px);
  }
  52% {
    transform: translateX(-8px);
  }
  64% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(-4px);
  }
  76% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(-2px);
  }
  84% {
    transform: translateX(0px);
  }
  86% {
    transform: translateX(-1px);
  }
  88% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}
/** SKILLS PAGE **/
.skills-container {
  -moz-columns: 2;
       columns: 2;
  -moz-column-gap: 40px;
       column-gap: 40px;
  width: 850px;
  margin-left: auto;
}

.skills-subsection {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: -10px !important;
  border-left: 8px solid #437e1c;
}

.skills-subheader {
  position: relative;
  top: 20px;
  right: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  color: #437e1c;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.8rem;
  height: 50px;
  width: 100%;
  padding: 0px 20px;
  border-left: 8px solid #437e1c;
}

.skills-group {
  -moz-columns: 2;
       columns: 2;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.skills-list {
  margin-left: 5px !important;
}

.skills-name {
  margin: 0px;
}

.skills-category {
  margin-bottom: 8px !important;
}

@media screen and (max-width: 850px) {
  .skills-container {
    width: 100%;
    max-width: 300px;
  }
  .skills-group {
    -moz-columns: 1;
         columns: 1;
  }
}
@media screen and (max-width: 1200px) {
  .skills-container {
    -moz-columns: 1;
         columns: 1;
    width: 500px;
  }
}
/*
  Z-INDEX HEIRARCHY   
  30    tooltip
  20    modal
  15    nav menu
  10    main (index: text-container)
  5     header, footer, name box (index: hover-anchor)
  1-3   backdrop
  0     body
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#page-content {
  padding-bottom: 80px;
  z-index: 5;
}

#page-title-box {
  position: absolute;
  top: 20px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #437e1c;
  color: #fff;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  min-height: 50px;
  padding: 0px 18px;
  z-index: 5;
}

main {
  position: relative;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 340px);
  min-width: 600px;
  max-width: 1000px;
  margin: 0px 0px 40px auto;
  padding: 120px 50px 0px 0px;
  visibility: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #eee;
  height: 50px;
  width: 100vw;
  padding: 0px 40px;
  margin-top: auto;
  z-index: 5;
}

#footer-links {
  margin-left: 20px;
}

@media screen and (max-width: 850px) {
  main {
    top: 100px;
    right: -5%;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    margin: 0px 0px 120px 5%;
  }
  footer {
    flex-direction: column;
    align-items: flex-end;
    line-height: 24px;
    padding-bottom: 20px;
  }
}
p {
  font-size: 0.95rem;
  margin: 0px 15px 10px 0px;
}

a {
  color: #61a136;
  font-weight: 600;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #85c05d;
}
a:visited {
  color: #437e1c;
}

ul {
  margin-left: 35px;
}

td {
  vertical-align: top;
  padding: 5px 5px 5px 0px;
}

.more-info {
  position: relative;
  display: block;
  color: #fff;
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 30px;
}

.text-light {
  font-weight: 200;
}

.text-heavy {
  font-weight: 600;
}

.content-item {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 30px;
  width: 100%;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  transition: filter 0.2s ease-in-out;
}
.content-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.content-block {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
}

.content-primary {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  margin: 0;
  padding: 15px 15px 12px 15px;
  z-index: 11;
}

.content-primary-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
  margin-left: 15px;
}

.content-animated-box {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  transition: 1s;
}

.content-click-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to bottom, #193a03 0, #376618 3%, #437e1c 18%, #437e1c 100%);
  color: #fff;
  height: 40px;
  width: 100%;
  padding-top: 0px;
  padding-left: 15px;
  cursor: pointer;
}
.content-click-bar:hover {
  background-image: linear-gradient(to bottom, #143003 0, #193a03 3%, #376618 10%, #437e1c 30%, #437e1c 100%);
}

.content-arrow {
  font-size: 1.2em;
  margin-right: 8px;
  cursor: pointer;
  animation: none;
}

.content-click-bar:hover .content-arrow.nudge-down {
  animation: nudge-down 0.6s ease-in-out;
}

.content-click-bar:hover .content-arrow.nudge-up {
  animation: nudge-up 0.6s ease-in-out;
}

@keyframes nudge-down {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  35% {
    transform: translateY(2px) rotate(0deg);
  }
  60% {
    transform: translateY(0px) rotate(0deg);
  }
  75% {
    transform: translateY(2px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes nudge-up {
  0% {
    transform: translateY(0px) rotate(180deg);
  }
  35% {
    transform: translateY(-2px) rotate(180deg);
  }
  60% {
    transform: translateY(0px) rotate(180deg);
  }
  75% {
    transform: translateY(-2px) rotate(180deg);
  }
  100% {
    transform: translateY(0px) rotate(180deg);
  }
}
.content-secondary {
  display: relative;
  background-color: #fff;
  max-height: 0px;
  overflow: hidden;
}

.content-description {
  margin: 15px 15px 15px 25px;
}

.content-header {
  font-family: Lexend Deca;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
}

.content-subheader {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
}

.content-logo-container {
  width: 60px;
  height: auto;
}

.content-logo {
  width: 60px;
  height: auto;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: calc(50% - 60px);
  background: #437e1c;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 5px 10px;
  border-radius: 2px;
  opacity: 0;
  box-shadow: 2px 2px 6px rgba(29, 29, 29, 0.4);
  z-index: 30;
  transition: all 0.2s ease-in-out;
  transform: scale(0);
}

.tooltip-wider {
  left: calc(50% - 80px);
  width: 160px;
}

.tooltip:before, .tooltip:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: calc(50% - 5px);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #437e1c;
}

.tooltip-container:hover .tooltip, a:hover .tooltip {
  opacity: 1;
  transform: scale(1) translateY(-10px);
}

.tooltip-left {
  position: absolute;
  bottom: 20px;
  right: calc(100% - 50px);
  background: #437e1c;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border-radius: 2px;
  opacity: 0;
  box-shadow: 2px 2px 6px rgba(29, 29, 29, 0.4);
  z-index: 30;
  transition: all 0.2s ease-in-out;
  transform: scale(0);
}

.tooltip-left:before, .tooltip-left:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 100%;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #437e1c;
}

.tooltip-container:hover .tooltip-left, a:hover .tooltip-left {
  opacity: 1;
  transform: scale(1) translateX(-60px);
}

.desc-p {
  margin: 6px 0px;
}

.bullet-list {
  margin-bottom: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}

.preload {
  transition: none !important;
}

#hidden-image {
  position: absolute;
  top: 0px;
  left: -100%;
  width: 400px;
  z-index: -10;
}

#content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#hover-anchor {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  margin-right: 0px;
  border-radius: 50%;
  z-index: 10;
  transition: 1.8s;
}
#hover-anchor:hover {
  margin-right: 300px;
  cursor: pointer;
}

.text-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  padding-left: 22px;
  overflow: hidden;
  z-index: 15;
  transition: transform 1.8s, width 1.8s;
}

#hover-anchor:hover .text-container {
  transform: translate(160px, 0);
  width: 440px;
}

.text {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
}

#fn,
#ln {
  color: #333333;
  opacity: 0;
  transition: opacity 1.8s;
}

#hover-anchor:hover #fn,
#hover-anchor:hover #ln {
  opacity: 1;
}

#cee {
  font-weight: 100;
  transition: 1.8s;
}

#hover-anchor:hover #cee {
  color: #333;
  transform: translate(110px, -30px);
}

#jay {
  font-weight: 600;
  padding-left: 40px;
  transition: 1.8s;
}

#hover-anchor:hover #jay {
  color: #333;
  transform: translate(70px, 30px);
}

#circle-mask {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  will-change: transform;
}

.square {
  position: absolute;
  width: 300px;
  height: 300px;
}

#shape1 {
  background-color: #333;
  transition: 1.8s;
}

#hover-anchor:hover #shape1 {
  transform: translate(55px, 0) rotate(-80deg);
}

#shape2 {
  background-color: #bbb;
  transition: 1.8s;
}

#hover-anchor:hover #shape2 {
  transform: translate(30px, 0) rotate(-70deg);
}

#shape3 {
  background-color: #555;
  transition: 1.8s;
}

#hover-anchor:hover #shape3 {
  transform: translate(15px, 0) rotate(-80deg);
}

#shape4 {
  background-color: #888;
  transition: 1.8s;
}

#hover-anchor:hover #shape4 {
  transform: translate(40px, -20) rotate(-62deg);
}

#divider {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  max-width: 80vw;
}

#single-line {
  background: linear-gradient(to right, #fff, #333, #fff);
  width: 800px;
  max-width: 80vw;
  height: 4px;
  border-radius: 2px;
  margin: 10px 0;
}

#cj-logo,
#cwc-logo-container {
  width: 410px;
}

#cwc-logo {
  width: 100%;
  filter: grayscale(1) contrast(2.5);
}

@media screen and (max-width: 480px) {
  #cj-logo,
  #cwc-logo-container {
    width: 300px;
  }
}/*# sourceMappingURL=landing.css.map */