@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;600&family=Quicksand:wght@300;400;600&display=swap");
/*
  Z-INDEX HEIRARCHY
  40    
  30    
  20    modal
  15    
  10    main (index: text-container)
  5     header, footer, navbar, name box (index: hover-anchor)
  1-3   backdrop
  0     body
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  background-color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#page-content {
  padding-bottom: 40px;
  z-index: 5;
}

main {
  position: relative;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100vw - 300px);
  min-width: 600px;
  max-width: 1000px;
  padding: 120px 50px 40px 0px;
  margin: 0px 0px 0px auto;
  visibility: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #eee;
  height: 50px;
  width: 100vw;
  padding-right: 40px;
  z-index: 5;
}

p {
  font-size: 0.95rem;
  margin: 0px 15px 10px 0px;
}

a {
  color: #61a136;
  font-weight: 600;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #85c05d;
}

a:visited {
  color: #437e1c;
}

ul {
  margin-left: 35px;
}

td {
  padding: 5px 5px 5px 0px;
  vertical-align: top;
}

/*** TITLES, NAV, & BACKGROUND ***/
#backdrop-container {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #222;
  z-index: 0;
}

#backdrop-left {
  background-color: #888;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 320px;
  height: 100vh;
  -webkit-transform: skewX(-12deg) translate(-200px, 0);
          transform: skewX(-12deg) translate(-200px, 0);
}

#backdrop-center {
  background-color: #555;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 240px;
  height: 100vh;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

#backdrop-right {
  background-color: #bbb;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 360px;
  height: 100vh;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

#name-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  top: 20px;
  left: 0px;
  padding: 0px 18px;
  background-color: #333;
  color: #fff;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#name-box:hover {
  -webkit-transform: scale(1.1) translateX(14px);
          transform: scale(1.1) translateX(14px);
}

#nav-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 260px;
  max-height: 40px;
  top: 120px;
  left: -180px;
  color: #333;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  -webkit-transition: max-height 0.6s, -webkit-transform 0.6s;
  transition: max-height 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, max-height 0.6s;
  transition: transform 0.6s, max-height 0.6s, -webkit-transform 0.6s;
  overflow: hidden;
}

#nav-box:hover {
  -webkit-transform: translate(200px, 18px) scale(1.15);
          transform: translate(200px, 18px) scale(1.15);
  max-height: 250px;
}

#new-navbar {
  width: 220px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 20px 20px 10px;
  font-size: 1.1rem;
  margin: 0;
}

#nav-arrow {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  font-size: 1.5rem;
  margin: 0;
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
}

#nav-arrow-icon {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#nav-box:hover #nav-arrow-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.highlighted {
  font-weight: 400;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.highlighted:hover {
  cursor: pointer;
  -webkit-transform: translateX(8px) scale(1.1);
          transform: translateX(8px) scale(1.1);
}

.highlight {
  color: #333;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #61a136), to(#b5d89d));
  background-image: linear-gradient(to right, #61a136 0, #b5d89d 100%);
  background-position: 0 -0.1em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background 0.6s;
  transition: background 0.6s;
}

.highlight:hover {
  background-size: 100% 100%;
  color: #333;
}

.highlight:visited, .highlight:active {
  color: #333;
}

#page-title-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #437e1c;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  height: 50px;
  top: 20px;
  right: 0px;
  padding: 0px 18px;
  z-index: 5;
}

.more-info {
  color: white;
  font-size: 1.1em;
  font-style: italic;
}

.content-container {
  -webkit-columns: 1;
          columns: 1;
}

.content-item {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 30px;
  width: 100%;
}

.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-color: white;
}

.content-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 0;
  left: 0;
  padding: 15px 10px 12px 15px;
  margin: 0;
  z-index: 11;
}

.content-primary-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  margin-left: 15px;
}

.content-animated-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.content-hover-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #193a03), color-stop(3%, #376618), color-stop(18%, #437e1c), to(#437e1c));
  background-image: linear-gradient(to bottom, #193a03 0, #376618 3%, #437e1c 18%, #437e1c 100%);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  color: white;
  height: 40px;
  width: 100%;
  padding: 0px 15px;
  z-index: 9;
  -webkit-transition: -webkit-filter 1.3s;
  transition: -webkit-filter 1.3s;
  transition: filter 1.3s;
  transition: filter 1.3s, -webkit-filter 1.3s;
}

.content-animated-box:hover .content-hover-bar {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: -webkit-filter 0.4s;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}

#content-arrow {
  font-size: 1.2em;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.content-animated-box:hover #content-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content-secondary {
  display: relative;
  background-color: white;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.8s ease-out;
  transition: max-height 0.8s ease-out;
}

.content-animated-box:hover .content-secondary {
  max-height: 500px;
  -webkit-transition: max-height 1.0s ease-out;
  transition: max-height 1.0s ease-out;
}

.content-description {
  margin: 15px 15px 15px 25px;
}

.content-header {
  font-weight: 600;
  font-size: 1.2rem;
  color: #437e1c;
}

.content-subheader {
  font-weight: 400;
  font-size: 1rem;
  color: white;
  margin-top: 10px;
}

.content-logo-container {
  width: 60px;
  height: auto;
}

.content-logo {
  width: 60px;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/** SKILLS PAGE **/
.skills-subheader {
  margin-bottom: 5px;
}

.skills-name {
  margin: 0px 0px 5px;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skills-subsection {
  vertical-align: top;
  margin: 0px 50px 40px 0px;
  width: 100%;
}

.skills-group {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.skills-list {
  display: inline-block;
  vertical-align: top;
  margin: 30px 0px 0px;
  width: 100%;
}
/*# sourceMappingURL=new.css.map */