@import "shared-styles.scss";

.more-info {
  color: $highlight-color;
	font-size: 1.2em;
	font-style: italic;
	// margin-top: 15px;
}

// TODO: maybe make this obsolete if not creating multiple columns anymore
.content-container {
  columns: 1
}

.content-item {
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 30px;
	width: 100%;
}

.content-block {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: $highlight-color;
}

.content-primary {
  display: absolute;
  top: 0;
  left: 0;
  padding: 15px 10px 10px 15px;
  margin: 0;
  z-index: 11;
}

.content-animated-box {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  transition: 1.2s;
}

.content-hover-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #193a03 0, #35720c 3%, #61a136 18%, #61a136 100%);
  filter: grayscale(100%);
  color: $highlight-color;
  height: 40px;
  width: 100%;
  padding: 0px 15px;
  z-index: 9;
  transition: filter 1.3s;
}
.content-animated-box:hover .content-hover-bar {
  filter: grayscale(0%);
  transition: filter 0.4s;
}

#content-arrow {
  font-size: 1.2em;
  transition: 1.2s
}
.content-animated-box:hover #content-arrow {
  transform: rotate(180deg);
}

.content-secondary {
  display: relative;
  background-color: $highlight-color;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}
.content-animated-box:hover .content-secondary {
  max-height: 300px;
  transition: max-height 1.0s ease-out;
}

.content-description {
  margin: 15px 15px 15px 25px;
}




/** EXPERIENCE & EDUCATION PAGES **/

.content-header {
	font-weight: 600;
	font-size: 1.2rem;
}

.content-subheader {
	font-weight: 400;
	font-size: 1rem;
	color: $highlight-color;
	margin-top: 10px;
}

.content-logo {
	float: left;
	width: 50px;
	margin-right: 15px;
}