@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;600&family=Quicksand:wght@300;400;600;700&display=swap");
/*** BACKGROUND & NAV ***/
#backdrop-container {
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #222;
  z-index: 0;
}

#backdrop-left {
  background-color: #888;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 320px;
  height: 100vh;
  -webkit-transform: skewX(-12deg) translate(-200px, 0);
          transform: skewX(-12deg) translate(-200px, 0);
}

#backdrop-center {
  background-color: #555;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 240px;
  height: 100vh;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

#backdrop-right {
  background-color: #bbb;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 360px;
  height: 100vh;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

#name-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  top: 20px;
  left: 0px;
  font-weight: 200;
  padding: 0px 18px 0px 14px;
  background-color: #333;
  color: #fff;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
  z-index: 15;
}

#name-box:hover {
  -webkit-transform: scale(1.1) translateX(14px);
          transform: scale(1.1) translateX(14px);
}

#nav-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 260px;
  max-height: 40px;
  top: 120px;
  left: -180px;
  color: #333;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  -webkit-transition: max-height 0.6s, -webkit-transform 0.6s;
  transition: max-height 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, max-height 0.6s;
  transition: transform 0.6s, max-height 0.6s, -webkit-transform 0.6s;
  overflow: hidden;
  z-index: 15;
}

#nav-box:hover {
  -webkit-transform: translate(200px, 18px) scale(1.15);
          transform: translate(200px, 18px) scale(1.15);
  max-height: 250px;
}

#new-navbar {
  width: 220px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 20px 20px 10px 17px;
  font-size: 1.1rem;
  margin: 0;
}

#nav-arrow {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  font-size: 1.5rem;
  margin: 0;
  -webkit-transform: translate(-40px, 0);
          transform: translate(-40px, 0);
}

#nav-arrow-icon {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#nav-box:hover #nav-arrow-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.highlighted {
  font-weight: 400;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.highlighted:hover {
  cursor: pointer;
  -webkit-transform: translateX(8px) scale(1.1);
          transform: translateX(8px) scale(1.1);
}

.highlight {
  color: #333;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #61a136), to(#b5d89d));
  background-image: linear-gradient(to right, #61a136 0, #b5d89d 100%);
  background-position: 0 -0.1em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background 0.6s;
  transition: background 0.6s;
}

.highlight:hover {
  background-size: 100% 100%;
  color: #333;
}

.highlight:visited, .highlight:active {
  color: #333;
}

/** HOME PAGE **/
.all-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.left-container {
  color: #fff;
  background-color: #222;
  width: 300px;
  height: 100%;
  padding: 25px;
  border-right: 10px solid #555;
}

.welcome-content {
  position: relative;
  z-index: 4;
}

.headshot {
  width: 100%;
  border: 3px #555 solid;
}

.right-container {
  margin: 40px;
  width: 100%;
}

.home-content {
  border-left: 8px solid #437e1c;
}

.content-area {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 25px;
  border-top: 10px solid #eee;
  margin: 0px 0px 30px;
}

.content-subheader {
  color: #555;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.history-pic {
  float: right;
  max-width: 350px;
  border: 5px solid #222;
  margin: 0px 0px 10px 15px;
}

td.year {
  font-size: 1.1em;
  font-weight: 600;
  width: 50px;
}

.gradient-text {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(rgba(51, 51, 51, 0)));
  background-image: linear-gradient(#333333, rgba(51, 51, 51, 0));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.timeline-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#timeline-button {
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: #bbb;
  width: auto;
  border-radius: 10px;
  padding: 10px 15px;
  margin: -90px 0px 90px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .history-pic {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .history-pic {
    width: 100%;
    float: none;
    margin: 0px 0px 15px 0px;
  }
}

@media screen and (max-width: 600px) {
  .all-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-container {
    width: 100%;
  }
  .right-container {
    width: 100%;
    margin: 0px;
    padding: 25px;
  }
  .history-area {
    width: 100;
  }
  .history-pic {
    max-width: 100%;
  }
  #landing-name {
    font-size: 13vw;
  }
}

/** SKILLS PAGE **/
#skills-container {
  max-width: 500px;
  margin-left: auto;
}

.skills-subsection {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0px 0px;
  width: 100%;
  border-left: 8px solid #437e1c;
}

.skills-subheader {
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #437e1c;
  background-color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.8rem;
  height: 50px;
  width: 100%;
  top: 20px;
  right: 0px;
  padding: 0px 20px;
  border-left: 8px solid #437e1c;
}

.skills-group {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.skills-list {
  margin-left: 5px !important;
}

.skills-name {
  margin: 0px;
}

.skills-category {
  margin-bottom: 8px !important;
}

@media screen and (max-width: 800px) {
  #skills-container {
    max-width: 300px;
  }
  .skills-group {
    -webkit-columns: 1;
            columns: 1;
  }
}

/** PROJECT GALLERY PAGE **/
.view-details {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.gallery-container {
  -webkit-columns: 3;
          columns: 3;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.gallery-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  width: 100%;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}

.gallery-item:hover {
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.6));
}

.project-content {
  background-color: white;
  padding: 15px;
}

.project-image {
  width: 100%;
  border: 1px solid #888;
}

.project-name {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #437e1c;
  margin-top: 8px;
}

.project-tagline {
  font-size: 0.9rem;
  margin-top: -3px;
}

/** PROJECT DETAILS PAGE **/
.project-section {
  margin: 20px 0px 5px;
}

.project-title {
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 5px;
  color: #437e1c;
}

.project-subtitle {
  margin-bottom: 15px;
}

.project-links {
  font-size: 1.3em;
  margin: 20px 0px 0px;
}

.project-details-image {
  width: 100%;
  border: 1px solid #888;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}

.project-details-image:hover {
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.6));
}

.project-details-row,
.project-details-row > .project-details-col {
  padding: 10px;
}

.project-details-col {
  float: left;
  width: 50%;
}

.project-details-bkg {
  background-color: white;
  padding: 15px 20px 18px;
}

.project-back-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #193a03), color-stop(3%, #376618), color-stop(18%, #437e1c), to(#437e1c));
  background-image: linear-gradient(to bottom, #193a03 0, #376618 3%, #437e1c 18%, #437e1c 100%);
  height: 40px;
  width: 100%;
  padding: 0px 15px;
}

.project-back-link {
  color: white !important;
}

.project-back-arrow {
  font-size: 1.2em;
  color: white;
  margin-right: 8px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 20;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .gallery-container {
    -webkit-columns: 2;
            columns: 2;
  }
  .project-details-col {
    width: 100%;
  }
  .project-detail-image {
    width: 100%;
    margin: 15px 0px 0px;
  }
}

@media screen and (max-width: 800px) {
  .gallery-container {
    -webkit-columns: 1;
            columns: 1;
  }
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 100%;
  }
}

/*
  Z-INDEX HEIRARCHY
  40    
  30    
  20    modal
  15    nav menu
  10    main (index: text-container)
  5     header, footer, name box (index: hover-anchor)
  1-3   backdrop
  0     body
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  background-color: #222;
  min-height: 100vh;
  overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#page-content {
  padding-bottom: 40px;
  z-index: 5;
}

#page-title-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #437e1c;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  min-height: 50px;
  top: 20px;
  right: 0px;
  padding: 0px 18px;
  z-index: 5;
}

main {
  position: relative;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100vw - 340px);
  min-width: 600px;
  max-width: 1000px;
  padding: 120px 50px 0px 0px;
  margin: 0px 0px 40px auto;
  visibility: hidden;
}

@media screen and (max-width: 850px) {
  main {
    top: 100px;
    right: -5%;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    margin: 0px 0px 120px 5%;
  }
}

footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #eee;
  height: 50px;
  width: 100vw;
  padding: 0px 40px;
  margin-top: auto;
  z-index: 5;
}

p {
  font-size: 0.95rem;
  margin: 0px 15px 10px 0px;
}

a {
  color: #61a136;
  font-weight: 600;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #85c05d;
}

a:visited {
  color: #437e1c;
}

ul {
  margin-left: 35px;
}

td {
  padding: 5px 5px 5px 0px;
  vertical-align: top;
}

.more-info {
  position: relative;
  display: block;
  color: white;
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 30px;
}

.text-light {
  font-weight: 200;
}

.text-heavy {
  font-weight: 600;
}

.content-item {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 30px;
  width: 100%;
}

.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-color: white;
}

.content-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 0;
  left: 0;
  padding: 15px 15px 12px 15px;
  margin: 0;
  z-index: 11;
}

.content-primary-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50px;
  margin-left: 15px;
}

.content-animated-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.content-hover-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #193a03), color-stop(3%, #376618), color-stop(18%, #437e1c), to(#437e1c));
  background-image: linear-gradient(to bottom, #193a03 0, #376618 3%, #437e1c 18%, #437e1c 100%);
  color: white;
  height: 40px;
  width: 100%;
  padding-top: 0px;
  padding-left: 15px;
}

.content-arrow {
  font-size: 1.2em;
  margin-right: 8px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.content-animated-box:hover .content-arrow {
  -webkit-transform: rotate(180deg) translateY(0px);
          transform: rotate(180deg) translateY(0px);
}

.content-secondary {
  display: relative;
  background-color: white;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 1.6s ease-out;
  transition: max-height 1.6s ease-out;
}

.content-animated-box:hover .content-secondary {
  max-height: 500px;
  -webkit-transition: max-height 1.6s ease-out;
  transition: max-height 1.6s ease-out;
}

.content-description {
  margin: 15px 15px 15px 25px;
}

.content-header {
  font-family: Lexend Deca;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
}

.content-subheader {
  font-weight: 400;
  font-size: 1rem;
  color: white;
  margin-top: 6px;
}

.content-logo-container {
  width: 60px;
  height: auto;
}

.content-logo {
  width: 60px;
  height: auto;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: -webkit-filter 0.8s ease-out;
  transition: -webkit-filter 0.8s ease-out;
  transition: filter 0.8s ease-out;
  transition: filter 0.8s ease-out, -webkit-filter 0.8s ease-out;
}
/*# sourceMappingURL=shared-styles.css.map */