@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;600&family=Quicksand:wght@300;400;600;700&display=swap");
@import "variables.scss";
@import "backdrop-nav.scss";
@import "home.scss";
@import "skills.scss";
@import "projects.scss";


// TODO: see if any scss variables are no longer in use
// TODO: make green variable names not color-specific
// TODO: go through css and make order of properties consistent
// TODO: separate out sass variables into importable file so it can be used for landing.scss as well

/*
  Z-INDEX HEIRARCHY
  40    
  30    
  20    modal
  15    nav menu
  10    main (index: text-container)
  5     header, footer, name box (index: hover-anchor)
  1-3   backdrop
  0     body
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	color: $primary-color;
	font-family: $primary-font;
	font-size: 11pt;
	font-weight: 400;
	background-color: $dark-accent-color;
	min-height: 100vh;
	overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#page-content {
  padding-bottom: 40px; // height of footer
  z-index: 5;
}

#page-title-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $highlight-color;
  background-color: $dark-green-color;
  font-family: $title-font;
  font-weight: 300;
  text-transform: uppercase;
	font-size: 2rem;
  height: 50px;
  top: 20px;
  right: 0px;
  padding: 0px 18px;
  z-index: 5;
}

main {
  position: relative;
  top: 0px;
  right: 0px;
	display: flex;
	flex-direction: column;
	width: calc(100vw - 340px);
  min-width: 600px;
  max-width: 1000px;
	padding: 120px 50px 40px 0px;
  margin: 0px 0px 0px auto;
	visibility: hidden; // until content loaded
}

footer {
  position: absolute;
  bottom: 0;
  margin-top: auto;
	display: flex;
	flex-direction: column;
  align-items: flex-end;
  color: $light-accent-color;
  height: 50px;
	width: 100vw;
	padding-right: 40px;
  z-index: 5;
}

p {
	font-size: 0.95rem;
	margin: 0px 15px 10px 0px;
}

a {
	color: $medium-green-color;
  font-weight: 600;
  text-decoration: none;
  &:hover, &:focus, &:active {
    color: $light-green-color;
  }
  &:visited {
    color: $dark-green-color;
  }
}

ul {
	margin-left: 35px;
}

td {
	padding: 5px 5px 5px 0px;
	vertical-align: top;
}





.more-info {
  color: $highlight-color;
	font-size: 1.1em;
	font-style: italic;
}

.text-light {
  font-weight: 200;
}

.text-heavy {
  font-weight: 600;
}

// TODO: maybe make this obsolete if not creating multiple columns anymore
.content-container {
  columns: 1
}

.content-item {
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 30px;
	width: 100%;
}

.content-block {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: $highlight-color;
}

.content-primary {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  padding: 15px 15px 12px 15px;
  margin: 0;
  z-index: 11;
}

.content-primary-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
  margin-left: 15px;
}

.content-animated-box {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  transition: 1.2s;
}

.content-hover-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #193a03 0, #376618 3%, $dark-green-color 18%, $dark-green-color 100%);
  filter: grayscale(100%);
  color: $highlight-color;
  height: 40px;
  width: 100%;
  padding: 0px 15px;
  z-index: 9;
  transition: filter 1.3s;
}
.content-animated-box:hover .content-hover-bar {
  filter: grayscale(0%);
  transition: filter 0.4s;
}

#content-arrow {
  font-size: 1.2em;
  transition: 1.2s
}
.content-animated-box:hover #content-arrow {
  transform: rotate(180deg);
}

.content-secondary {
  display: relative;
  background-color: $highlight-color;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1.6s ease-out;
}
.content-animated-box:hover .content-secondary {
  max-height: 500px;
  transition: max-height 1.6s ease-out;
}

.content-description {
  margin: 15px 15px 15px 25px;
}

.content-header {
  font-family: Lexend Deca;
	font-weight: 500;
	font-size: 1.2rem;
  color: $dark-green-color;
}

.content-subheader {
	font-weight: 400;
	font-size: 1rem;
	color: $highlight-color;
	margin-top: 10px;
}

.content-logo-container {
  width: 60px;
  height: auto;
}

.content-logo {
	width: 60px;
  height: auto;
  filter: grayscale(0%);
  transition: filter 0.8s ease-out;
}
// .content-animated-box:hover .content-logo {
//   filter: grayscale(0%);
//   transition: filter 0.8s ease-out; // FIXME: this is not working
// }